# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

# ignore all user-specific settings directories
.settings
.metdata

# ignore all user-specific settings files
*.prefs